body {
    background-image: url("/galaxy.img");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .img-sun {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 300px;
    animation: sun-animation 60s linear infinite;
  }
  @keyframes  sun-animation {
    0% {
      transform: rotate(-360deg);
    }
  }
  .img-mercury {
    width: 30px;
    animation: mercury-animation 10s linear infinite, container-mercury 10s linear infinite;
  }
  @keyframes mercury-animation {
    0% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes container-mercury {
    from {
        transform: rotate(0deg) translatex(180px);
      }
      to {
        transform: rotate(360deg) translatex(180px);
      }
  }
 
  
  
  .img-venus {
    width: 60px;
    animation: venus-animation 20s linear infinite, container-venus 20s linear infinite;
  }
  
  @keyframes venus-animation {
    0% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes container-venus {
    from {
      transform: rotate(0deg) translatex(250px);
    }
    to {
      transform: rotate(360deg) translatex(250px);
    }
  }

  
  .img-earth {
    width: 40px;
    animation: earth-animation 30s linear infinite, container-earth 35s linear infinite;
  }
  @keyframes earth-animation {
    0% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes container-earth {
    from {
      transform: rotate(0deg) translatex(220px);
    }
    to {
      transform: rotate(360deg) translatex(220px);
    }
  }


.img-mars{
    width: 50px;
    animation: mars-animation 40s linear infinite, container-mars 30s linear infinite;
}
@keyframes mars-animation {
    0% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes container-mars {
    from {
      transform: rotate(0deg) translatex(240px);
    }
    to {
      transform: rotate(360deg) translatex(240px);
    }
}
.img-jupiter{
    width: 80px;
    animation: jupiter-animation 60s linear infinite, container-jupiter 50s linear infinite;
}
@keyframes jupiter-animation {
    0% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes container-jupiter {
    from {
      transform: rotate(0deg) translatex(300px);
    }
    to {
      transform: rotate(360deg) translatex(300px);
    }
}